.NotesCards {
    height: 100vh;
    width: 100%;
    padding: 2%;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: auto;
    /* overflow: scroll; */
}

.NotesCard {
    padding: 10px 35px;
}

@media (max-width:600px) {
    .NotesCards {
        padding: 2%;
        display: block;
    }
    .NotesCard {
        margin: auto;
    }
}